.vs/
Release/
PianoFromAbove/Release/
PianoFromAbove/BackgroundPixelShader.h
PianoFromAbove/BackgroundVertexShader.h
PianoFromAbove/Colorizer.exe
PianoFromAbove/Colorizer.exe.h
PianoFromAbove/FallbackStrings.hpp
PianoFromAbove/LanguagePacks.hpp
PianoFromAbove/NotePixelShader.h
PianoFromAbove/NoteVertexShader.h
PianoFromAbove/NoteVertexShaderSameWidth.h
PianoFromAbove/PackWrapper.hpp
PianoFromAbove/PFXGDI.exe
PianoFromAbove/PFXGDI.exe.h
PianoFromAbove/RectPixelShader.h
PianoFromAbove/RectVertexShader.h
PianoFromAbove/Widths.h
PianoFromAbove/tmp.exe
PianoFromAbove/tmp.obj
