// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include "Language.h"
#include "Widths.h"
#include "matrices.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PP1_VISUAL DIALOGEX 0,0,PropertyWindowW,PropertyWindowH
STYLE DialogStyle
CAPTION PropertyWindowTitle
FONT FontSize,FontName
BEGIN

    GROUPBOX        Property1Text1,-1,
                    Margin,
                    Margin,
                    PropertyWindowW + mdMargin,
                    qContentHeight + tMargin

    CONTROL         Property1Text2,IDC_SHOWALLKEYS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,
                    tMargin,
                    ContentHeight + dMargin,
                    Property1Text2W + BoxSpacing,
                    ContentHeight

    CONTROL         Property1Text3,IDC_SHOWSONGKEYS,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    tMargin,
                    dContentHeight + dMargin,
                    Property1Text3W + BoxSpacing,
                    ContentHeight

    CONTROL         Property1Text4,IDC_SHOWCUSTOMKEYS,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    tMargin,
                    tContentHeight + dMargin,
                    Property1Text4W + BoxSpacing,
                    ContentHeight

    COMBOBOX        IDC_FIRSTKEY,
                    tMargin + Property1Text4W + BoxSpacing,
                    tContentHeight + dMargin + mhMargin,
                    KeySelectW,
                    ContentHeight + Margin,
                    CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP

    LTEXT           Property1Text5,IDC_THROUGH,
                    qMargin + Property1Text4W + BoxSpacing + KeySelectW,
                    tContentHeight + dMargin,
                    Property1Text5W,
                    ContentHeight,
                    WS_DISABLED

    COMBOBOX        IDC_LASTKEY,
                    iMargin + Property1Text4W + BoxSpacing + KeySelectW + Property1Text5W,
                    tContentHeight + dMargin + mhMargin,
                    KeySelectW,
                    ContentHeight + Margin,
                    CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP

    CONTROL         Property1Text6,IDC_SHOWCONTROLS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    dMargin,
                    iContentHeight + dMargin + hMargin,
                    Property1Text6W + BoxSpacing,
                    ContentHeight

    CONTROL         Property1Text7,IDC_SAMEWIDTH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    dMargin,
                    xContentHeight + tMargin,
                    Property1Text7W + BoxSpacing,
                    ContentHeight

    LTEXT           Property1Text8,-1,
                    dMargin,
                    pContentHeight + iMargin,
                    Property1Text8W,
                    ContentHeight

    CONTROL         "",IDC_COLOR1,"Button",BS_OWNERDRAW,
                    dMargin,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR2,"Button",BS_OWNERDRAW,
                    dMargin + hMargin + ColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR3,"Button",BS_OWNERDRAW,
                    tMargin + dColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR4,"Button",BS_OWNERDRAW,
                    tMargin + hMargin + tColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR5,"Button",BS_OWNERDRAW,
                    qMargin + qColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR6,"Button",BS_OWNERDRAW,
                    qMargin + hMargin + iColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR7,"Button",BS_OWNERDRAW,
                    iMargin + xColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR8,"Button",BS_OWNERDRAW,
                    iMargin + hMargin + pColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR9,"Button",BS_OWNERDRAW,
                    xMargin + oColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR10,"Button",BS_OWNERDRAW,
                    xMargin + hMargin + nColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR11,"Button",BS_OWNERDRAW,
                    pMargin + cColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR12,"Button",BS_OWNERDRAW,
                    pMargin + hMargin + cColorBox + ColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR13,"Button",BS_OWNERDRAW,
                    oMargin + cColorBox + dColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR14,"Button",BS_OWNERDRAW,
                    oMargin + hMargin + cColorBox + tColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR15,"Button",BS_OWNERDRAW,
                    nMargin + cColorBox + qColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    CONTROL         "",IDC_COLOR16,"Button",BS_OWNERDRAW,
                    nMargin + hMargin + cColorBox + iColorBox,
                    oContentHeight + iMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    LTEXT           Property1Text9,
                    -1,
                    dMargin,
                    cContentHeight + xMargin,
                    Property1Text9W,
                    ContentHeight

    CONTROL         "",IDC_BKGCOLOR,"Button",BS_OWNERDRAW,
                    tMargin + Property1Text9W,
                    cContentHeight + xMargin + mhMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    LTEXT           Property1Text10,
                    -1,
                    qMargin + Property1Text9W + ColorBox,
                    cContentHeight + xMargin,
                    Property1Text10W,
                    ContentHeight

    CONTROL         "",IDC_BARCOLOR,"Button",BS_OWNERDRAW,
                    iMargin + Property1Text9W + ColorBox + Property1Text10W,
                    cContentHeight + xMargin + mhMargin,
                    ColorBox,
                    ColorBox,
                    WS_EX_CLIENTEDGE

    PUSHBUTTON      Property1Text11,IDC_RESTOREDEFAULTS,
                    PropertyWindowW - Property1Text11W - BoxSpacing + mdMargin,
                    cContentHeight + xMargin + mhMargin,
                    Property1Text11W + BoxSpacing,
                    ContentHeight + dMargin

END

IDD_PP2_AUDIO DIALOGEX 0,0,PropertyWindowW,PropertyWindowH
STYLE DialogStyle
CAPTION PropertyWindowTitle
FONT FontSize,FontName
BEGIN

    LTEXT           Property2Text1,-1,
                    dMargin,
                    dMargin,
                    Property2Text1W,
                    ContentHeight

    LISTBOX         IDC_MIDIOUT,
                    dMargin,
                    tMargin+ContentHeight,
                    PropertyWindowW + mqMargin,
                    PropertyWindowH + mqContentHeight + mdMargin,
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    CONTROL         Property2Text2,IDC_KDMAPI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    dMargin,
                    PropertyWindowH + mContentHeight + mdMargin,
                    Property2Text2W + BoxSpacing,
                    ContentHeight

END

IDD_PP3_VIDEO DIALOGEX 0,0,PropertyWindowW,PropertyWindowH
STYLE DialogStyle
CAPTION PropertyWindowTitle
FONT FontSize,FontName
BEGIN

    GROUPBOX        Property3Text1,-1,
                    Margin,
                    Margin,
                    PropertyWindowW+mdMargin,
                    tContentHeight+tMargin

    CONTROL         Property3Text2,IDC_DISPLAYFPS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    ContentHeight + dMargin,
                    Property3Text2W + BoxSpacing,
                    ContentHeight

    CONTROL         Property3Text3,IDC_LIMITFPS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    dContentHeight + dMargin + hMargin,
                    Property3Text2W + BoxSpacing,
                    ContentHeight

END

IDD_PP4_CONTROLS DIALOGEX 0,0,PropertyWindowW,PropertyWindowH
STYLE DialogStyle
CAPTION PropertyWindowTitle
FONT FontSize,FontName
BEGIN

    GROUPBOX        Property4Text1,-1,
                    Margin,
                    Margin,
                    PropertyWindowW + mdMargin,
                    tContentHeight + xMargin

    LTEXT           Property4Text2,-1,
                    tMargin,
                    ContentHeight + dMargin + hMargin,
                    Property4Text2W,
                    ContentHeight

    EDITTEXT        IDC_LRARROWS,
                    qMargin + Property4Text2W,
                    ContentHeight + dMargin,
                    SpinnerW,
                    ContentHeight + Margin,
                    ES_AUTOHSCROLL

    CONTROL         "",IDC_LRARROWSSPIN,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,0,0,0,0

    LTEXT           Property4Text3,-1,
                    iMargin + Property4Text2W + SpinnerW,
                    ContentHeight + dMargin + hMargin,
                    Property4Text3W,
                    ContentHeight

    LTEXT           Property4Text4,-1,
                    tMargin,
                    dContentHeight + qMargin + hMargin,
                    Property4Text4W,
                    ContentHeight

    EDITTEXT        IDC_UDARROWS,
                    qMargin + Property4Text4W,
                    dContentHeight + qMargin,
                    SpinnerW,
                    ContentHeight + Margin,
                    ES_AUTOHSCROLL

    CONTROL         "",IDC_UDARROWSSPIN,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,0,0,0,0

    LTEXT           Property4Text5,-1,
                    iMargin + Property4Text4W + SpinnerW,
                    dContentHeight + qMargin + hMargin,
                    Property4Text5W,
                    ContentHeight

END

IDD_PP5_VIZ DIALOGEX 0,0,PropertyWindowW,PropertyWindowH
STYLE DialogStyle
CAPTION PropertyWindowTitle
FONT FontSize,FontName
BEGIN
    GROUPBOX        Property5Text1,-1,
                    Margin,
                    Margin,
                    PropertyWindowW + mdMargin,
                    PropertyWindowH + mdMargin

    CONTROL         Property5Text2,IDC_TICKBASED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    ContentHeight + dMargin,
                    Property5Text2W+BoxSpacing,
                    ContentHeight

    CONTROL         Property5Text3,IDC_PITCHBENDS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    dContentHeight + dMargin + hMargin,
                    Property5Text3W + BoxSpacing,
                    ContentHeight

    CONTROL         Property5Text4,IDC_STATS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    tContentHeight + tMargin,
                    Property5Text4W + BoxSpacing,
                    ContentHeight

    CONTROL         Property5Text5,IDC_MARKERS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    qContentHeight + tMargin + hMargin,
                    Property5Text5W + BoxSpacing,
                    ContentHeight

    LTEXT           Property5Text6,-1,
                    tMargin,
                    iContentHeight + qMargin + hMargin,
                    Property5Text6W,
                    ContentHeight

    COMBOBOX        IDC_MARKERENC,
                    qMargin + Property5Text6W,
                    iContentHeight + qMargin,
                    MarkerEncodingW,
                    ContentHeight + Margin,
                    CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    LTEXT           Property5Text7,-1,
                    tMargin,
                    xContentHeight + iMargin + hMargin,
                    Property5Text7W,
                    ContentHeight

    EDITTEXT        IDC_SPLASHMIDI,
                    qMargin + Property5Text7W,
                    xContentHeight + iMargin,
                    PropertyWindowW - Property5Text7W - Property5Text9W - Property5Text10W + mcMargin + miMargin,
                    ContentHeight + Margin,
                    ES_AUTOHSCROLL | ES_READONLY

    PUSHBUTTON      Property5Text9,IDC_SPLASHBROWSE,
                    PropertyWindowW - Property5Text9W - Property5Text10W + mcMargin,
                    xContentHeight + iMargin,
                    Property5Text9W + qMargin,
                    ContentHeight + Margin,

    PUSHBUTTON      Property5Text10,IDC_SPLASHRESET,
                    PropertyWindowW - Property5Text10W + mxMargin,
                    xContentHeight + iMargin,
                    Property5Text10W + qMargin,
                    ContentHeight + Margin,

    LTEXT           Property5Text8,-1,
                    tMargin,
                    pContentHeight + xMargin + hMargin,
                    Property5Text8W,
                    ContentHeight

    EDITTEXT        IDC_BACKGROUND,
                    qMargin + Property5Text8W,
                    pContentHeight + xMargin,
                    PropertyWindowW - Property5Text8W - Property5Text9W - Property5Text10W + mcMargin + miMargin,
                    ContentHeight + Margin,
                    ES_AUTOHSCROLL | ES_READONLY

    PUSHBUTTON      Property5Text9,IDC_BACKGROUNDBROWSE
                    PropertyWindowW - Property5Text9W - Property5Text10W + mcMargin,
                    pContentHeight + xMargin,
                    Property5Text9W + qMargin,
                    ContentHeight + Margin,

    PUSHBUTTON      Property5Text10,IDC_BACKGROUNDRESET,
                    PropertyWindowW - Property5Text10W + mxMargin,
                    pContentHeight + xMargin,
                    Property5Text10W + qMargin,
                    ContentHeight + Margin,

    CONTROL         Property5Text11,IDC_COLORLOOP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    oContentHeight + pMargin + hMargin,
                    Property5Text11W + BoxSpacing,
                    ContentHeight

    CONTROL         Property5Text12,IDC_FFMPEG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    nContentHeight + oMargin,
                    Property5Text12W + BoxSpacing,
                    ContentHeight

    CONTROL         Property5Text13,IDC_DISABLEUI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    tMargin,
                    cContentHeight + oMargin + hMargin,
                    Property5Text13W + BoxSpacing,
                    ContentHeight

END

IDD_TRACKSETTINGS DIALOGEX 0,0,TrackWindowW,TrackWindowH
STYLE AltDialogStyle
CAPTION TrackWindowTitle
FONT FontSize,FontName
BEGIN

    LTEXT           TrackText1,-1,
                    dMargin,
                    dMargin,
                    TrackText1W,
                    ContentHeight

    EDITTEXT        IDC_FILE,
                    tMargin + TrackAlign,
                    dMargin,
                    TrackWindowW - TrackAlign + mqMargin,
                    ContentHeight,
                    ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP

    LTEXT           TrackText2,-1,
                    dMargin,
                    dMargin + ContentHeight,
                    TrackText2W,
                    ContentHeight

    EDITTEXT        IDC_FOLDER,
                    tMargin + TrackAlign,
                    dMargin + ContentHeight,
                    TrackWindowW - TrackAlign + mqMargin,
                    ContentHeight,
                    ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP

    LTEXT           TrackText3,-1,
                    dMargin,
                    dMargin + dContentHeight,
                    TrackText3W,
                    ContentHeight

    EDITTEXT        IDC_NOTES,
                    tMargin + TrackAlign,
                    dMargin + dContentHeight,
                    TrackWindowW - TrackAlign + mqMargin,
                    ContentHeight,
                    ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP

    LTEXT           TrackText4,-1,
                    dMargin,
                    dMargin + tContentHeight,
                    TrackText4W,
                    ContentHeight

    EDITTEXT        IDC_LENGTH,
                    tMargin + TrackAlign,
                    dMargin + tContentHeight,
                    TrackWindowW - TrackAlign + mqMargin,
                    ContentHeight,
                    ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP

    CONTROL         "",IDC_TRACKS,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,
                    7,
                    50,
                    287,
                    91

    CONTROL         TrackText5,IDC_NOLAG,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,
                    7,
                    146,
                    98,
                    10

    CONTROL         TrackText6,IDC_PIANO,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,
                    7,
                    156,
                    121,
                    10

    DEFPUSHBUTTON   TrackText7,IDOK,
                    192,
                    168,
                    50,
                    14

    PUSHBUTTON      TrackText8,IDCANCEL,
                    246,
                    168,
                    50,
                    14

END

IDD_ABOUT DIALOGEX 0,0,AboutWindowW,AboutWindowH
STYLE AltDialogStyle
CAPTION AboutWindowTitle
FONT LargeFontSize,AltFontName
BEGIN
    LTEXT           AboutText1,-1,5,5,240,60,WS_DISABLED | NOT WS_GROUP
    CONTROL         "",-1,"Static",SS_ETCHEDHORZ | WS_DISABLED,1,70,249,1
    DEFPUSHBUTTON   AboutText2,IDOK,185,75,60,20
END

IDD_LOADING DIALOGEX 0,0,LoadingWindowW,LoadingWindowH
STYLE AltDialogStyle
CAPTION LoadWindowTitle
FONT FontSize,FontName
BEGIN
    CONTROL         "",IDC_LOADINGPROGRESS,"msctls_progress32",WS_BORDER,24,36,204,14
    LTEXT           LoadWindowTitle,IDC_LOADINGDESC,24,12,132,8
    LTEXT           "0 / 0",IDC_LOADINGNUM,24,24,132,8
    LTEXT           "0 MB",IDC_MEMUSAGE,156,24,71,8,0,WS_EX_RIGHT
END

IDD_SETRESOLUTION DIALOGEX 0,0,ResolutionWindowW,ResolutionWindowH
STYLE AltDialogStyle
CAPTION ResolutionWindowTitle
FONT FontSize,FontName
BEGIN
    LTEXT           ResolutionText1,-1,25,15,ResolutionText1W,FontSize
    EDITTEXT        IDC_WIDTH,52,13,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           ResolutionText2,-1,25,33,ResolutionText2W,FontSize
    EDITTEXT        IDC_HEIGHT,52,31,40,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   ResolutionText3,IDOK,6,54,ResolutionText3W,14
    PUSHBUTTON      ResolutionText4,IDCANCEL,60,54,ResolutionText4W,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_MAINMENU MENU
BEGIN
    MENUITEM MenuText1,ID_FILE_PRACTICE
    MENUITEM MenuText2,ID_FILE_CLOSEFILE
    POPUP MenuText3
    BEGIN
        MENUITEM MenuText4,ID_PLAY_PLAYPAUSE
        MENUITEM MenuText5,ID_PLAY_STOP
        MENUITEM MenuText6,ID_PLAY_SKIPFWD
        MENUITEM MenuText7,ID_PLAY_SKIPBACK
        MENUITEM SEPARATOR
        MENUITEM MenuText8,ID_PLAY_INCREASERATE
        MENUITEM MenuText9,ID_PLAY_DECREASERATE
        MENUITEM MenuText10,ID_PLAY_RESETRATE
        MENUITEM SEPARATOR
        MENUITEM MenuText11,ID_PLAY_NFASTER
        MENUITEM MenuText12,ID_PLAY_NSLOWER
        MENUITEM MenuText13,ID_PLAY_NRESET
        MENUITEM SEPARATOR
        MENUITEM MenuText14,ID_PLAY_VOLUMEUP
        MENUITEM MenuText15,ID_PLAY_VOLUMEDOWN
        MENUITEM MenuText16,ID_PLAY_MUTE
    END
    POPUP MenuText17
    BEGIN
        MENUITEM MenuText18,ID_VIEW_CONTROLS,CHECKED
        MENUITEM MenuText19,ID_VIEW_KEYBOARD,CHECKED
        MENUITEM MenuText20,ID_VIEW_ALWAYSONTOP
        MENUITEM MenuText21,ID_VIEW_FULLSCREEN
        MENUITEM MenuText22,ID_VIEW_SETWINDOWSIZE
        MENUITEM MenuText23,ID_VIEW_MOVEANDZOOM
        MENUITEM MenuText24,ID_VIEW_RESETMOVEANDZOOM
    END
    MENUITEM MenuText25,ID_OPTIONS_PREFERENCES
    MENUITEM MenuText26,ID_HELP_ABOUT
    MENUITEM SEPARATOR
    MENUITEM MenuText27,ID_STUDIO
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDA_MAINMENU ACCELERATORS
BEGIN
    VK_UP,          ID_PLAY_DECREASERATE,   VIRTKEY,CONTROL,NOINVERT
    VK_DOWN,        ID_PLAY_INCREASERATE,   VIRTKEY,CONTROL,NOINVERT
    "M",            ID_PLAY_MUTE,           VIRTKEY,CONTROL,NOINVERT
    VK_UP,          ID_PLAY_NFASTER,        VIRTKEY,SHIFT,NOINVERT
    "R",            ID_PLAY_NRESET,         VIRTKEY,SHIFT,NOINVERT
    VK_DOWN,        ID_PLAY_NSLOWER,        VIRTKEY,SHIFT,NOINVERT
    VK_SPACE,       ID_PLAY_PLAYPAUSE,      VIRTKEY,NOINVERT
    "R",            ID_PLAY_RESETRATE,      VIRTKEY,CONTROL,NOINVERT
    VK_LEFT,        ID_PLAY_SKIPBACK,       VIRTKEY,NOINVERT
    VK_RIGHT,       ID_PLAY_SKIPFWD,        VIRTKEY,NOINVERT
    VK_ESCAPE,      ID_PLAY_STOP,           VIRTKEY,NOINVERT
    VK_DOWN,        ID_PLAY_VOLUMEDOWN,     VIRTKEY,NOINVERT
    VK_UP,          ID_PLAY_VOLUMEUP,       VIRTKEY,NOINVERT
    VK_RETURN,      ID_VIEW_FULLSCREEN,     VIRTKEY,ALT,NOINVERT
    "W",            ID_VIEW_SETWINDOWSIZE,  VIRTKEY,CONTROL,NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_MEDIAICONSSMALL     BITMAP                  "Images\\mediaiconssmall.bmp"

IDB_BITMAP1             BITMAP                  "Images\\Tutorial\\IMG_0001.bmp"

IDB_BITMAP2             BITMAP                  "Images\\Tutorial\\TestingImage.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_PFAICON             ICON                    "Images\\PFA Icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// MIDI
//

IDR_SPLASHMIDI          MIDI                    "Images\\chase.mid.xz"